.app {

    height: 100vh;


    header {
     
        .nav-bar{
            .container{
                max-width: $desktop-breakpoint+300px;
            }
            .manu-icon {
                display: none;
            }
      
        }
        
    }

    .container{
        margin: 0 auto;
        padding: 0 10px;
    }

    .nav-bar-links-container.narrow-tablet-style {display: none;}
    
    .main-content {
        padding-top: 140px;
        flex: 1 0 auto;

        &.notHomeStyle{

            margin-top: 50px;
        }

        &.open-manu{
            padding-top: 0;
        }
        
        .recipe-list{  
            
            display: grid;
            margin-bottom: 20px;
            .recipe{
                margin: 0;
                .prev-img-recipe-container{
                    @include aspect-ratio(1, 1);
                }
            }
        
            &.recipe-by-title-style{

                display: block;
                
                .recipe{
                    display: flex;
                    padding: 20px 0;
                    height: 200px;
                  
                    .prev-img-recipe-container{
                        width: 30%;
                    
                    }

                    .recipe-details-container{
                        width: 70%;
                        align-items: flex-start;
                        
                        .time{
                            margin: 5px 0;
                        
                        }
                            
                        
                        a{
                            .title-recipe{text-align: start;}
                        }
                        .desc{
                            text-align: start;
                            a{
                                display: block;
                                margin-top: 10px;

                                &:after{
                                    content: "››";
                                    position: relative;
                                    top: 1px;
                                    padding-inline-start: 5px;
                                }
                            }
                        }
                    }
                }
                                
            }
        }

        
    }
        
 

    @include for-desktop-layout{

        header{
            .nav-bar{
                .logo-links-filter-container{
                    .nav-bar-links-container{
                        li{
                            .recipe-filter{     
                                .search-input {
                                    position: absolute;
                                    right: 108px;
                                }
                                    
                            }
                        }
                    }
                }
            }
        }
        
        
            
            
        
        
            .search-labels-container {
            
                position: relative;
                
                
                
                .all-recipes-title{
                    padding-inline-end: rem(20px);
                    color:$clr1;
                    letter-spacing: 0.1em;
                    transition: color .3s;
                    cursor: pointer;
        
                    
                }
            
            
        
                .labels-cotainer{
                    
                    margin-top: 9px;
                    position: absolute;
                    background-color: $clr1;
                    z-index: 6;
                    opacity: 0;
                    visibility: hidden;
                    transition:  all .3s;
                    padding: rem(20px) rem(40px);
                    
        
                    
                    .label{
                        padding: 5px 0;
                        transition: .3s;
        
                        
                    
                        &:hover{
                            color: $clr2;
                        }
                    }
        
        
                }
        
        
                &:hover {
        
                    .labels-cotainer{
                        visibility: visible;
                        opacity: 1;
                    }
        
                    .all-recipes-title{
                        color: $clr3;
                        
                    }
                }
        
                
            }

        .recipe-details{
            .share-links{
                .share-for-mobile{
                    display: none;
                }
            }
        }
        
    }     
    

            


        .container{
            max-width: $desktop-breakpoint;
        }
        .recipe-list{
        
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
            
        }


 

    @include for-middel-layout{

        
        header {
            .nav-bar{
                height: 100px;
                .add-new-recipe-link-container{

                    .add-new-recipe-link{
                        bottom: -12.5px;
                        width: 35px;
                        height: 35px;
                    }

                    .add-recipe-title{
                        left: 44px;
                        top: -18px;
                    }
                }


                .manu-icon {
                    display: flex;
                }
        
                .logo-links-filter-container{

                    .nav-bar-links-container{display: none;}
                    .logo-link{
                        position: absolute;
                        right: 50%;
                        top: 50%;
                        transform: translate(50%, -63%);

                        .logo{
                            width: 142px;

                        }
                      
                    }
                }

                .facebook-icon{
                    display: none;
                
                }
            }

        }

        .nav-bar-links-container.narrow-tablet-style{
            
            display: block;
            height: 100vh;
            position: fixed;
            z-index: 3;
          
            
            top:0;
            right: -300px;
            transition: 0.3s;
            
            .nav-bar-links{

                min-width: unset;
                position: static;
                transform: none;
                height: 100%;
                width: initial;
                padding: rem(60px) rem(20px);
                flex-direction: column;
                align-items: flex-start;
                background-color:$clr1;

                
                li{
                    height: initial;
                    padding-bottom: 15px;


                    .main-link {
                        &::before{
                            content: "";
                            width: 0%;
                            height: 1px;
                            display: block;
                            background-color: $clr2;
                            transition: .3s;
                            
                        }
    
                        &:hover::before{
                            width: 100%;
                        }
                    }
                    

                    &:last-child{
                        padding-bottom: 0;
                    }
                    a{
                       color: $clr3;
                    }
                }
            }

            .close-manu-cotainer{
                display: block;
                position: absolute;
                top: 30px;
                left: 30px;
            }
        }

        .recipe-filter{

            position: static;
            top: unset;
            transform: unset;
            flex-direction: column;
            align-items: initial;
            
            .search-input{
                
                .form-container{

                    border: $clr3 1px solid;
                   


                    .search-icon{
                
                        cursor: initial;
                        fill: $clr3;
                       
                        &:hover{
                            transform: none;
                        }
                        
                    }

                    .filter-recipe-from{
               
                
                        .input-filter{
                            background-color:$clr1;
                            border: none;
                            max-width: 160px;
                            padding: rem(10px);
                            
                           
                            
                            
                        }
                    } 
                
            }

        }


            .search-labels-container{
                
                
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            
                
                .all-recipes-title{
                    
                    padding-bottom: 5px; 
                    color: $clr3;

                    &::before{
                        content: "";
                        width: 0%;
                        height: 1px;
                        display: block;
                        background-color: $clr2;
                        transition: .3s;
                        
                    }
                    
                }

                .labels-cotainer{

                    overflow: hidden;
                    position: static;
                    margin: 0;
                    column-count: 3;
                    padding: 5px 0 10px;
                    text-align: right;
                    visibility: visible;
                    opacity: 1;
                    

                    .label{
                        padding: 5px 0;
                        transition: .3s;
    
                        
                    
                        &:hover{
                            color: $clr2;
                        }
                    }
    
    
                }
    
            }
        }

        .recipe-list{
            gap: 30px;


            .recipe{
                .recipe-details-container{
                    height: 180px;
                }
            }
        }

        .recipe-edit{

            form{

                label {
                    width: 20%;
                }
                
                .uploaded-img-button-container{
                    margin-left: rem(10px);
                    .img-container{
                        .uploded-img{
                            margin-top: 10px;
                            
                        }
                    }

                }

                .tools-edit{

                    .tools-container{
                        width: 60%;

                    }

                }

                .note-edit{
                    .notes-container{
                        width: 100%;

                        .note{
                            width: 60%
                        }
    
                    }
                }
            }
            
        
        }

        .recipe-details{
            .share-links{
                .share-for-mobile{
                    display: none;
                }
            }
        }
        
    }
    
    @include for-tablet-layout{

        .container{
            max-width: $tablet-breakpoint;
        }


        header {

            
            .nav-bar{

                .logo-links-filter-container{

                    .logo-link {
                        width: 150px;
                    }

                    .nav-bar-links{  
                    
                        transform: translate(-46%,0);
                    }
        
        
        
                }
        
              
            }
        }
        
    }
        
        
        .nav-bar-links-container.narrow-tablet-style{
        
            .close-manu-cotainer{
                            
                .close-manu{
                
                    cursor: pointer;
                   
            
                    &::before,
                    &::after{
                            content: "";
                            width: 15px;
                            height: 2px;
                            background-color: $clr3;
                            position: absolute;
                            transition: all 0.3s cubic-bezier( 0.5, 0.2, 0.5, 1);
                    }
            
                    &::before{
                        top: 0px;
                        left: 0;
                        transform:rotate(41deg);
                        
                    }
                        &::after{
                        top: 0px;
                        left: 0;
                        transform:rotate(-41deg);
                        
                    }
                }
            
            }
        }
        
        
        


        .recipe-list{
            grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
        }
        
        .comment{      
            &.nested-comment{

                .line{  
                    width: 10%;  
                }
                
            }
        }
        .comment-form{
            width: 60%;
        }

        .about{
        
            .img-container{
               
                width: 300px;
                height: 300px;
               
            }
        }

        .recipe-edit{
            
            form{
                
                .uploaded-img-button-container{
                    margin-left: rem(10px);
                    .img-container{
                        .uploded-img{
                            margin-top: 10px;
                            
                        }
                    }

                }
            }
            
    
        }
    

    @include for-narrow-tablet {


        .main-content {
            padding-top: 100px;
        }


        .recipe-list.recipe-by-title-style .recipe .prev-img-recipe-container .edit-trash button{
            
            line-height: 2em;
            padding: 0 7px;
        }

        .recipe-edit{
    
            form{

                .delete-label{
                    display: none;
                }
               
                .uploaded-img-button-container{
                    margin: 0 0  10px 0;
                 
                    .img-container{
                        .uploded-img{
                            margin-top: 20px;
                            
                        }
                    }
    
                }

                label{
                    margin-bottom: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    
                }
        
                .column-label{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   
                }

                .uploaded-container{
                    justify-content: center;
                }

                .yield-edit{

                    margin-inline-start: 0px;
                    
                    .yield-count{
                        margin: 0 0 10px 0;
                    }
                }

                .tools-edit{
            
                    .add-tool{
                       
                        
                        .input-tool-btn-container{
                            
                            justify-content: center;
                            
                            
            
                        }
                    }

                    .tools-container{
                        width: 80%;
                        .tool {
                            width: 60%;

                        }
                    }

                }
                
                .ingredients-edit{
                    
                    .add-ingredients-container{
    
                        .add-ingredients{
                            grid-template:1fr 2fr 1fr 2fr 2fr / 1fr 1fr;
                            gap: 5px 10px;
                    
    
                            & > *:nth-child(1){
                                grid-area: 1 / 1 ;
                            }
                            & > *:nth-child(2){
                                grid-area: 2 / 1 ;
                            }
                            & > *:nth-child(3){
                                grid-area: 3 / 1 ;
                            }
                            & > *:nth-child(4){
                                grid-area: 4 / 1;
                            }
                            & > *:nth-child(5){
                                grid-area: 1 / 2 ;
                            }
                            & > *:nth-child(6){
                                grid-area: 2 / 2 ;
                            }
                            & > *:nth-child(7){
                                grid-area: 3 / 2 ;
                            }
                            & > *:nth-child(8){
                                grid-area: 4 / 2 ;
                            }
    
                            & > *:nth-child(9){
                            grid-area: 5 / 2;
                            justify-self: end;
                            margin: 0;
                            }
    
                            
                        }
                    }
    
                }
                
    
                .note-edit{
                    .input-add-btn-container{
                        justify-content: center;
                        
                    }
                    
                    .notes-container{
                        
                        .note{
                            width: 80%;
    
                        }
    
                    }
                }
            }

            
        }

        .recipe-details{
            .share-links{
                .share-for-mobile{
                    display:initial
                }
                .share-for-desktop{
                    display: none;
                }
            }
        }


    } 

    @include for-mobile-layout{

        .container{
            
            max-width: $mobile-breakpoint;

        }

      


        .main-content .recipe-list.recipe-by-title-style {
            
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
            gap: 20px;

            .recipe{
                display: block;
                padding: 0;
                height: initial;
                
                .prev-img-recipe-container{
                    width: initial;

                    .edit-trash button{
            
                        line-height: 3em;
                        padding: 0 20px;
                    }
                
                }
                .recipe-details-container{
                    width: initial;
                    align-items: center;
                    
                    a{
                        .title-recipe{text-align: center;}
                    }
                    .desc{
                        text-align: center;
                       
                    }
                }
            }

       
        }

      
        .recipe-details .recipe-img {
            height: 200px;
        }

        .footer-container{
            flex-direction: column;
            justify-content: center;

            .footer-links{
                margin-bottom: rem(10px);
            }
        }

       
        .comment-form{
            width: 100%;
        }

        .comment{
            padding: rem(20px);
  
                &.nested-comment{
    
                    .line{  
                        width: 15%;  
                    }
                    
                }
            
        }
        
        .about{
        
            .img-container{
               
                width: 300px;
                height: 300px;
               
            }
        }

        .recipe-edit{
            
        
            .uploaded-img-button-container{
                margin-left: rem(10px);
                align-items: center;

                .img-container{
                    .uploded-img{
                        margin-top: 10px;
                        
                        
                    }
                }
                    
            }
        }

        
        .remove-recipe-modal{

            width: 300px;
            height: 150px;

            .remove-msg {
                
                padding: 0px 19px 20px;
            }
        }
    }

}





