<div class="about flex column container">
    <h4 class="title fs30">קצת עלי</h4>

    <div class="flex column align-center">

        <div class="desc">

            <p class="paragraph">
                שלום לכם, שמי צביה, ואני נשואה עם ילדים וסבתא אוהבת וגאה לנכדים. מזה שנים ארוכות, אני מתגוררת באזור ירושלים. 
            </p>
            
            <p class="paragraph">
                 הוריי ברחו לישראל בהיותי כבת שנתיים יחד עם הוריי ואחותי הגדולה ממני בשנה, מהעיירה קמישלי בצפון סוריה. בימים ההם, בקמישלי התגוררה קהילה קטנה של יהודים, שבמקור הגיעו מהעיר נציבין שבטורקיה, לצד ערבים מוסלמים. קהילה זו של יהודים, רובה ככולה ברחה לישראל כבר בשנות השישים של המאה הקודמת ורובם מתגוררים כיום בקרית אתא ובירושלים. האוכל הסורי של יהודי קמישלי הושפע מהקהילה הכורדית שהתגוררה אף היא בעיירה זו. 
            </p>

            <p class="paragraph">         
                בבית בו גדלתי אימי נהגה לבשל רק אוכל מסורתי עם השמות והטעמים המיוחדים שלו, ולכן התוודעתי כבר מגיל צעיר למאכלי העדה. 
            </p>

            <p class="paragraph">         
                מאימי שהייתה ידועה בקרב הקהילה הסורית במקום מגוריה כבשלנית מצוינת,  למדתי את יסודות הבישול הסורי: החל מבצקים כגון, לחמה בעג'ין, שמבורק ועד לתבשילים שונים כמו: במיה, יפרח (עלי גפן ממולאים באורז ובשר), שייח מחשי (חצילים ממולאים), קובה בגרסה מטוגנת ובגרסת מרק ועוד.  
            </p>
        
            <p class="paragraph">         
                היות והתעניינתי מגיל צעיר מאוד בעולם הבישול והאפייה, נהניתי לסייע לאימי בבישוליה במטבח, וכך זכיתי ללמוד ממקור ראשון את יסודות הבישול הסורי.  
            </p>
        
            <p class="paragraph">          
                התמזל מזלי, ואת העניין, הסקרנות והאהבה שלי לאפיית עוגות, יכולתי לממש באמצעות שכנתנו המקסימה שהתגוררה בדירה העליונה, אליה הצטרפתי בשמחה גדולה בימי שישי כאשר נהגה לאפות עוגות לשבת. 

            </p>
            <p class="paragraph">          
                משכנתי שהנה מוכשרת מאוד לצד היותה אישה חברותית וומלאת שמחת חיים, למדתי טכניקות אפייה שונות, כגון: הכנת עוגת טורט ועוגות בחושות, עוגות גבינה ועוגות שוקולד. העוגות הללו אותן אני מכינה היום מעלות בי זיכרונות חמים מאותה התקופה.
            </p>
            <p class="paragraph">          
                לאחר נישואי המשכתי ללמוד לבשל ולאפות תוך שאני ממשיכה להסתייע באימי באמצעות קו הטלפון, בניסיון להגיע לרמות הגבוהות של הבישול שלה. לצד זה, למדתי בקורסים שונים טכניקות בישול ואפייה שהרחיבו מאוד את הרפרטואר שלי.  
            </p>
            <p class="paragraph">          
                מזה זמן, שהפכתי להיות בעצמי מקור של ידע למשפחתי, חבריי ואהוביי. וכעת, אני נרגשת לחלוק אתכם ידע זה שנאסף באהבה ובשקדנות אין קץ, במשך שנים ארוכות.  
            </p>
            <p class="paragraph">          
                שלכם,
            </p>
            <p class="paragraph">          
                באהבה רבה צביה
            </p>
        
        </div>
        <div class="img-container">
            <img class="about-img" src="../../../assets/img/צביה.JPG" alt="about"/>
        </div>

    </div>
</div>