$clr1:#1d1d1d; // title color
$clr2:#ffb612;  // hover color
$clr3:#ffff; // white color
$clr4:#ffffff94; /// background for the body when manu open
$clr5:#F0F1EE; /// backgroundColor Body
$clr6:#e6e6e6; // gary color
$clr7: #858385; // p color
$clr8:#ffb612e8;  // yellow with opacity color
$clr9:red;  //error

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-tablet-breakpoint: 580px;
$tablet-breakpoint: 720px;
$middel-breakpoint: 900px;
$desktop-breakpoint: 1200px;
