

@font-face {
    font-family: AssistantBold;
    src: url(/assets/font/Assistant/Assistant-Bold.ttf) format("opentype");
    // font-display: block;
}    

@font-face {
    font-family: AssistantRegular;
    src: url(/assets/font/Assistant/Assistant-Regular.ttf) format("opentype");
    // font-display: block;
}    
@font-face {
    font-family: AssistantSemiBold;
    src: url(/assets/font/Assistant/Assistant-SemiBold.ttf) format("opentype");
    // font-display: block;
}    

@font-face {
    font-family: Opensans;
    src: url(/assets/font/OpenSans/OpenSansHebrewCondensed-Light.ttf) format("opentype");
    // font-display: block;
}    

