<div class="lessons container flex column align-center">
    <h1 class="lesson-title fs30">סדנת קובה</h1>
    <div class="lesson-desc flex column">
        <p>
            מהיום כל אחד יכול להכין קובה בבית!
        </p>
        <p>
            בשיטה יחודית ומהירה נלמד להכין את הקובות המסורתיות והטעימות שישתלבו בכל מרק.
        </p>
        <p class="bold">
            ב-3 שעות של סדנה נגלגל, נתרגל ונכין יחד קובות מא' עד ת'.
        </p>
        <p class="bold">
            *תלמדו להכין שני סוגי מילוי: בשרי וצימחוני
        </p>
        <p class="bold">*הכנה של בצק הקובה ושיטות שונות של גילגול</p>
        <p class="bold">*סוגי מרקים שיתאימו וישתלבו במטבח הביתי שלכם</p>
        <p class="bold fs20">בסיום הסדנא נתפנק בארוחה קטנה וטעימה עם מרק קובה מושלם</p>
        <p class="bold fs20">בנוסף, תיקחו איתכם הביתה קופסה מפנקת של קובה להנאת המשפחה שלכם !</p>
        <!-- <div class="lesson-price-container">
            <p class="">מחיר לאדם</p>
            <p class="bold fs20">300 ש"ח</p>
        </div> -->
        <p class="bold fs18">מהרו לשריין מקומכם כבר בתאריך הקרוב!</p>
        <p class="bold fs18">עד 7 משתתפים</p>
    </div>
    <div class="lessos-imgs-container flex align-center justify-center ">
        <img src="../../../assets/img/lessons-imgs/_DSC1676.JPG" alt="">
        <img src="../../../assets/img/lessons-imgs/_DSC2919.JPG" alt="">
        <img src="../../../assets/img/lessons-imgs/kobe.JPG" alt="">
        
    </div>
</div>
