<div class="home"> 
    <section *ngIf="recipes.length" class="title-recipe-container container flex column">
        <div class="main-img-container flex justify-center align-center">
            <img class="main-img" alt="צביה" src="../../../assets/img/zvia.JPG"/>
        </div>
        <h3 class="recently-recipes-title fs22">מתכונים אחרונים</h3>
        <recipe-list (removeRecipe)="onRemoveRecipe($event)"
        [countRecipe] = "countRecipe"
        [isLoggedIn]="isLoggedIn" [recipes]="recipes"></recipe-list>
        <button *ngIf="countRecipe<recipes.length" (click)="changeCountRecipe()" class="see-more-recipes-btn">מתכונים נוספים</button>
    </section>
</div>
