<div class="recipes-by-label flex column align-center container" *ngIf="recipesByLabel">
    <h4 *ngIf="!navigateFromSearchInput" class="main-label fs40">{{recipesByLabel.label}}</h4>
    <div *ngIf="navigateFromSearchInput" class="search-title-container flex">
        <h1 class="title fs20">תוצאות עבור:</h1>
        <p class="search-str fs16">{{recipesByLabel.label}}</p>
    </div>
    <recipe-list [isLoggedIn]="isLoggedIn" [atRecipeByTitlePage]="atRecipeByTitlePage" (removeRecipe)="onRemoveRecipe($event)"
    [recipes]="recipesByLabel.recipes"> </recipe-list>
</div>